:root{
	font-size: 20px;
	--bg-color: rgb(29,30,25);
	--primary-color: aliceblue;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	color: var(--primary-color);
}

body{
	background-color: black;
	background-image: url('/images/mars.jpg');
	background-repeat: no-repeat;
	height: 100vh;font-family: 'Montserrat', sans-serif;

  }