:root{
	font-size: 20px;
	--bg-color: rgb(29,30,25);
	--primary-color: aliceblue;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	background-color: var(--bg-color);
	color: var(--primary-color);
}